@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

@mixin aStyle {
    text-decoration: none;

    &:visited {
        color: black;
        text-decoration: none;
    }

    &:link {
        color: black;
        text-decoration: none;
    }

    &:hover {
        color: black;
        text-decoration: none;
    }

    &:active {
        color: black;
        text-decoration: none;
    }
}

@mixin bgSettings {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin flexSettings {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    font-family: 'Arial Narrow', sans-serif;
}

a {
    @include aStyle;
}

.header {
    @include bgSettings;
    background-image: url('src/images/headerLogo.jpg');
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    filter: drop-shadow(0px -10px 20px rgba(0, 0, 0, 0.7));
    
    img {
        height: 140px;
    }

    &__navigation {
        margin-top: 25px;
        padding: 0;
        width: 50%;
        height: 100px;
        font-size: 18px;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            margin: 0;
            list-style: none;

            a {
                position: relative;
                padding-bottom: 10px;
                
                &::after { 
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    height: 1px;
                    width: 0;
                    background: black;
                    transition: width 0.3s, left 0.3s;
                }

                &:hover::after { 
                    width: 100%; 
                    left: 0; 
                }
            }
        }
    }

    &__text {
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
        font-size: xx-large;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        letter-spacing: 5px;
        text-transform: uppercase;
        line-height: 1.4;
    }

    &__scroll {
        img {
            height: 60px;
            width: 60px;
        }
    }
}

.first_main_block {
    @include flexSettings;
    flex-direction: column;
    height: 470px;
    background: #f7f7f7;

    img {
        height: 60px;
        margin-bottom: 40px;
    }

    &__paragraph {
        width: 75%;
        text-align: center;
        line-height: 2;
    }
}

.second_main_block {
    display: flex;
    height: 600px;
    width: 100%;

    &__left {
        @include bgSettings;
        @include flexSettings;
        background-image: url('src/images/imageLeft_secondBlock.png');
        height: 600px;
        width: 66.66%;

        &_image {
            height: 118px;

            img {
                height: 118px;
                width: 113px;
            }
        }
    }

    &__right {
        flex-direction: column;
        height: 200px;
        width: 33.33%;

        &_up {
            @include flexSettings;
            flex-direction: column;
            height: 400px;

            img {
                height: 60px;
                margin-bottom: 20px;
            }
        }

        &_down {
            @include bgSettings;
            background-image: url('src/images/imageRight_secondBlock.png');
            height: 200px;
        }
    }

    &__paragraph {
        width: 80%;
        text-align: center;
        line-height: 2;
    }
}

.third_main_block {
    display: flex;
    flex-direction: row-reverse;
    height: 600px;
    width: 100%;

    &__left {
        @include bgSettings;
        @include flexSettings;
        background-image: url('src/images/imageRight_thirdBlock.png');
        height: 600px;
        width: 66.66%;

        &_image {
            height: 118px;

            img {
                height: 152px;
                width: 177px;  
            }
        }
    }

    &__right {
        flex-direction: column;
        height: 100px;
        width: 33.33%;

        &_up {
            @include flexSettings;
            flex-direction: column;
            height: 400px;

            img {
                height: 60px;
                margin-bottom: 20px;
            }
        }

        &_down {
            @include bgSettings;
            background-image: url('src/images/imageLeft_thirdBlock.png');
            height: 200px;
        }
    }

    &__paragraph {
        width: 80%;
        text-align: center;
        line-height: 2;
    }
}

.fourth_main_block {
    display: flex;
    height: 600px;
    width: 100%;

    &__left {
        @include bgSettings;
        background-image: url('src/images/imageLeft_fourthBlock.png');
        height: 200px;
        width: 33.33%;
        height: 600px;


        &_image {
            @include flexSettings;
            flex-direction: column;
            height: 600px;

            img {
                width: 208px;
                height: 67px;
            }
        }
    }

    &__center {
        flex-direction: column;
        height: 200px;
        width: 33.33%;

        &_up {
            @include flexSettings;
            flex-direction: column;
            height: 400px;

            img {
                height: 60px;
                margin-bottom: 20px;
            }
        }

        &_down {
            @include bgSettings;
            background-image: url('src/images/imageDown_fourthBlock.jpg');
            height: 200px;
        }
    }

    &__paragraph {
        width: 80%;
        text-align: center;
        line-height: 2;
    }

    &__right {
        @include bgSettings;
        background-image: url('src/images/imageRight_fourthBlock.jpg');
        height: 600px;
        width: 33.33%;
    }
}

.fifth_main_block {
    @include flexSettings;
    flex-direction: column;
    height: 470px;
    background: #f7f7f7;

    span {
        color: #928f8f;
    }

    img {
        height: 27px;
        width: 32px;
        margin-bottom: 20px;
    }

    &__paragraph {
        width: 75%;
        text-align: center;
        font-size: 24px;
    }
}

.sixth_main_block {
    display: flex;
    height: 600px;
    width: 100%;

    &__left {
        width: 33.33%;

        &_up {
            height: 50%;
            width: 100%;
            display: flex;
        }

        &_down {
            @include bgSettings;
            background-image: url('src/images/downImage_sixthBlock.jpg');
            height: 50%;
        }
    }

    &__upleft {
        @include bgSettings;
        background-image: url('src/images/leftImage_sixthBlock_left.jpg');
        height: 100%;
        width: 50%;
    }

    &__upright {
        @include bgSettings;
        background-image: url('src/images/leftImage_sixthBlock_right.jpg');
        height: 100%;
        width: 50%;
    }

    &__center {
        width: 33.33%;
        display: flex;

        &_left {
            @include bgSettings;
            background-image: url('src/images/centerImage_sixthBlock_left.jpg');
            height: 100%;
            width: 50%;
        }

        &_right {
            @include bgSettings;
            background-image: url('src/images/centerImage_sixthBlock_rigth.jpg');
            height: 100%;
            width: 50%;
        }
    }

    &__right {
        width: 33.33%;

        &_up {
            @include bgSettings;
            background-image: url('src/images/rightImage_sixthBlock_right.jpg');
            height: 50%;
            width: 100%;
        }

        &_down {
            display: flex;
            height: 50%;
            width: 100%;
        }
    }

    &__downleft {
        @include bgSettings;
        background-image: url('src/images/imageLeft_sixthBlock_right.jpg');
        height: 100%;
        width: 50%;
    }

    &__downright {
        @include bgSettings;
        background-image: url('src/images/imageRight_sixthBlock_right.jpg');
        height: 100%;
        width: 50%;
    }
}

.seventh_main_block {
    @include flexSettings;
    height: 200px;
    background-color:#282f35;

    a {
        text-decoration: none;
        &:visited {
            text-decoration: none;
        }
    }

    &__button {
        @include flexSettings;
        background-color: inherit;
        font-size: 14px;
        font-family: 'Arial Narrow', sans-serif;
        letter-spacing: 6px;
        color: ivory;
        border: 2px solid ivory;
        height: 50px;
        width: 300px;
        transition: 0.3s;

        &:hover {
            background-color: ivory;
            color: #282f35;
            transition: 0.3s;
            cursor: pointer;
        }
    }
}

.eight_main_block {
    @include flexSettings;
    flex-direction: column;
    height: 470px;

    img{
        width: 94px;
        height: 85px;
    }

    h3 {
        margin-bottom: 35px;
        color: gray;
        font-style: italic;
    }

    &__form {
        display: flex;

        input {
            padding: 28px;
            box-sizing: border-box;
            font-style: italic;
            font-size: 18px;
            border: 1px solid gray;
            width: 400px;
            height: 70px;
        }

        button {
            color: ivory;
            margin-left: 8px;
            padding: 0;
            font-size: 24px;
            border: 1px solid gray;
            background-color: #64c29e;
            width: 126px;
            height: 70px;
        }
    }
}

.footer {
    @include flexSettings;
    background-color: #f7f7f7;
    height: 250px;
    width: 100%;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.7));

    &__left {
        @include flexSettings;
        height: 250px;
        width: 33.33%;
    }
    
    &__center {
        @include flexSettings;
        height: 250px;
        width: 33.33%;
    }

    &__right {
        @include flexSettings;
        height: 250px;
        width: 33.33%;

        img {
            @include bgSettings;
            height: 38px;
            width: 154px;
            margin-right: 36px;
        }
    }

    &__image1 {
        img{
            @include bgSettings;
            height: 38px;
            width: 38px;
            margin-right: 15px;
        }
    }

    &__image2 {
        img{
            @include bgSettings;
            height: 38px;
            width: 38px;
            margin-right: 15px;
        }
    }

    &__image3 {
        img{
            @include bgSettings;
            height: 38px;
            width: 38px;
        }
    }
}