@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&display=swap');

body {
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}

a {
    text-decoration: none;

    &:visited {
        color: black;
        text-decoration: none;
    }

    &:link {
        color: black;
        text-decoration: none;
    }
}

.header {
    display: flex;
    justify-content: center;
    background-image: url('src/images/headerLogo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 65vh;
    width: 100%;

    &__navigation {
        margin-top: 15px;
        width: 50%;
        height: 100px;
        font-size: 18px;
            
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            
            img {
                height: 100px;
            }
        }
    }
}

.first_main_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 470px;
    background: #f7f7f7;

    img {
        height: 60px;
        margin-bottom: 40px;
    }

    &__paragraph {
        width: 75%;
        text-align: center;
        line-height: 2;
    }
}

.second_main_block {
    display: flex;
    height: 600px;
    width: 100%;

    &__left {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('src/images/imageLeft_secondBlock.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 600px;
        width: 66.66%;

        &_image {
            height: 118px;

            img {
                height: 118px;
                width: 113px;  

                
            }
        }
    }

    &__right {
        flex-direction: column;
        height: 200px;
        width: 33.33%;

        &_up {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 400px;

            img {
                height: 60px;
                margin-bottom: 20px;
            }
        }

        &_down {
            background-image: url('src/images/imageRight_secondBlock.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 200px;
        }
    }

    &__paragraph {
        width: 80%;
        text-align: center;
        line-height: 2;
    }
}

.third_main_block {
    display: flex;
    flex-direction: row-reverse;
    height: 600px;
    width: 100%;

    &__left {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('src/images/imageRight_thirdBlock.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 600px;
        width: 66.66%;

        &_image {
            height: 118px;

            img {
                height: 152px;
                width: 177px;  
            }
        }
    }

    &__right {
        flex-direction: column;
        height: 100px;
        width: 33.33%;

        &_up {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 400px;

            img {
                height: 60px;
                margin-bottom: 20px;
            }
        }

        &_down {
            background-image: url('src/images/imageLeft_thirdBlock.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 200px;
        }
    }

    &__paragraph {
        width: 80%;
        text-align: center;
        line-height: 2;
    }
}

.fourth_main_block {
    display: flex;
    height: 600px;
    width: 100%;

    &__left {
        background-image: url('src/images/imageLeft_fourthBlock.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 200px;
        width: 33.33%;
        height: 600px;


        &_image {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 600px;

            img {
                width: 208px;
                height: 67px;
            }
        }
    }

    &__center {
        flex-direction: column;
        height: 200px;
        width: 33.33%;

        &_up {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 400px;

            img {
                height: 60px;
                margin-bottom: 20px;
            }
        }

        &_down {
            background-image: url('src/images/imageDown_fourthBlock.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 200px;
        }
    }

    &__paragraph {
        width: 80%;
        text-align: center;
        line-height: 2;
    }

    &__right {
        width: 33.33%;
        background-image: url('src/images/imageRight_fourthBlock.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 600px;
    }
}

.fifth_main_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 470px;
    background: #f7f7f7;

    span {
        color: #928f8f;
    }

    img {
        height: 27px;
        width: 32px;
        margin-bottom: 20px;
    }

    &__paragraph {
        width: 75%;
        text-align: center;
        font-size: 24px;
    }
}

.sixth_main_block {
    display: flex;
    height: 600px;
    width: 100%;

    &__left {
        width: 33.33%;

        &_up {
            height: 50%;
            width: 100%;
            display: flex;
        }

        &_down {
            height: 50%;
            background-image: url('src/images/downImage_sixthBlock.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    &__upleft {
        background-image: url('src/images/leftImage_sixthBlock_left.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 50%;
    }

    &__upright {
        background-image: url('src/images/leftImage_sixthBlock_right.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 50%;
    }

    &__center {
        width: 33.33%;
        display: flex;

        &_left {
            background-image: url('src/images/centerImage_sixthBlock_left.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 100%;
            width: 50%;
        }

        &_right {
            background-image: url('src/images/centerImage_sixthBlock_rigth.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 100%;
            width: 50%;
        }
    }

    &__right {
        width: 33.33%;

        &_up {
            background-image: url('src/images/rightImage_sixthBlock_right.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 50%;
            width: 100%;
        }

        &_down {
            display: flex;
            height: 50%;
            width: 100%;
        }
    }

    &__downleft {
        background-image: url('src/images/imageLeft_sixthBlock_right.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 50%;
    }

    &__downright {
        background-image: url('src/images/imageRight_sixthBlock_right.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 50%;
    }
}

.seventh_main_block {
    display: flex;
    height: 200px;
    background-color:#282f35;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        &:visited {
            text-decoration: none;
        }
    }

    &__button {
        background-color: inherit;
        font-size: 14px;
        letter-spacing: 3.5px;
        color: ivory;
        display: inherit;
        justify-content: inherit;
        align-items: inherit;
        border: 2px solid ivory;
        height: 50px;
        width: 300px;
        transition: 0.3s;

        &:hover {
            background-color: ivory;
            color: #282f35;
            transition: 0.3s;
            cursor: pointer;
        }
    }
}

.eight_main_block {
    display: flex;
    flex-direction: column;
    height: 470px;
    justify-content: center;
    align-items: center;

    img{
        width: 94px;
        height: 85px;
    }

    h3 {
        margin-bottom: 35px;
        color: gray;
        font-style: italic;
    }

    &__form {
        display: flex;

        input {
            padding: 28px;
            box-sizing: border-box;
            font-style: italic;
            font-size: 18px;
            font-family: 'Be Vietnam Pro', sans-serif;
            border: 1px solid gray;
            width: 400px;
            height: 70px;
        }

        button {
            color: ivory;
            margin-left: 8px;
            box-sizing: border-box;
            padding: 0;
            font-size: 24px;
            font-family: 'Be Vietnam Pro', sans-serif;
            border: 1px solid gray;
            background-color: #64c29e;
            width: 126px;
            height: 70px;
        }
    }
}

.footer {
    background-color: #f7f7f7;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &__left {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;
        width: 33.33%;
    }
    
    &__center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;
        width: 33.33%;
    }

    &__right {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;
        width: 33.33%;

        img {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 38px;
            width: 154px;
            margin-right: 36px;
        }
    }

    &__image1 {
        img{
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 38px;
            width: 38px;
            margin-right: 15px;
        }
    }

    &__image2 {
        img{
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 38px;
            width: 38px;
            margin-right: 15px;
        }
    }

    &__image3 {
        img{
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 38px;
            width: 38px;
        }
    }
}